

.radio-form {
  display: inline-flex;
  flex-direction: column; 
  margin-bottom: 25px;
}

.radio-button-and-label {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.radio-result-btn{
  margin-bottom: 25px;
}


#submitBtn {
  height: 40px;
  width: 100px;  
  cursor: pointer;
}
